#e3d-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30000;
}

.e3d-lightbox-item {
  position: relative;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}

.e3d-lightbox-item iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.e3d-lightbox-button {
  position: absolute;
  cursor: pointer;
}

.e3d-lightbox-close {
  top: 5px;
  right: 5px;
  background-color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
}

.ReactModal__Overlay {
  z-index: 2000;
}

.ReactModal__Content {
  padding: 2px !important;
}

.ReactModal__Content > div {
  height: 100%;
}

.embed-pdf {
  width: 100%;
  height: 100%;
  object-fit: contain; /* This will ensure the aspect ratio of the content is preserved */
}
@media only screen and (max-width: 640px) {
  .embed-pdf {
    // height: auto; /* This will adjust the height on smaller screens */
  }
}
