body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Roboto Flex", sans-serif;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.e3d-app {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 640px) {
  .e3d-app {
    flex-direction: row-reverse;
  }
}
